* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

/* h2 {
    text-decoration: underline;
} */

ul {
    list-style-type: none;
}

li {
    display: list-item;
    margin-left: 25px;

}

.nav-list {
    display: flex;
    gap: 1rem;
    justify-content: end;
    letter-spacing: 2px;
}

/* nav {
    display: inline;
    /* padding-top: 15px; */
    /* margin-right: 20px; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: right;
} */

body {
    background-color: #6ebee9;
}
.hero_img {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('../assets/images/hero_banner.JPG');
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero-img div {
    flex: 0 0 90%;
  }

.hero_img h3 {
    color: white;
    margin: 0;
    padding: 5px 10px;
    font-size: 2.3rem;
    line-height: 1.5;
    display: flex;
    justify-content: end;
  }

#skills {
    /* display: flex;
    flex-direction: column; */
    list-style: square;
    padding: 5px;
}
/* 
main {
    display: flex;
    flex-direction: column;
    width: 75%;
    border: 10px solid red;
} */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

#about-me {
    display: flex;
    gap: 1rem;
    border: 3px solid red;
    align-items: flex-start;
}

#about-me div {
    flex-direction: column;
}
/* #about-me ul {
    flex-directio;
} */

#about-me img {
    width: 200px;
    height: 180px;
}


/* .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
} */

.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    border: 3px solid red;

}

.work-item {
    color: white;
    /* background-color: #6ebee9; */
    border: 5px solid black;
    min-height: 150px;
    max-height: 150px;
    flex-basis: auto;
    flex-grow: 1;
    /* calc(50% - 1em); */
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;]
}

#try-this {
    background-color: #e1e96e;
}
.work-item a div {
    color: white;
}
.marvel-img {
    flex-basis: 100%;
    min-height: 200px;
    background-image: url("../assets/images/Screen\ Shot\ 2022-05-05\ at\ 2.52.39\ PM.png")
    
}

.refactor-img {
    flex-basis: 20%;
    background-image: url("../assets/images/refactor_website.jpg")
    
}

.placeholder-img {
    flex-basis: 20%;
    background-image: url("../assets/images/placeholder.jpg")
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

footer h2 {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    font-size: 16px;
    text-decoration: none;
}